body{
  display: flex;
  width: 550px;
  margin: auto;
  margin-top: 50px;
  font-family: sans-serif;
}
.conti{
  width: 100%;
}
.contact-card {
    width: 275px;
    height: 150px;
    margin-left: 150%;
    margin-top: 20%;
    background: white;
    opacity: 0.75;
    box-shadow: 0px 5px 10px -2px rgba(1, 1, 1, 0.8);
    transition: all 250ms;
    border: 2px solid #dedede;
}

.contact-card:hover{
  box-shadow: 0px 10px 25px -10px rgba(1, 1, 1, 0.5);
  transform: scale(1.05);
  opacity: 1;
}

.title{
  display: block;
  text-align: center;
  padding: 16px 15px;
  box-sizing: border-box;
  font-size: 25px;
  width: 275px;
}

.title::after {
  content: "";
  display: block;
  position: absolute;
  width: 0px;
  height: 2px;
  background: black;
  margin-left: 122px;
  transition: all 150ms;
  left 0px;
}

.contact-card:hover > .title::after{
  width: 200px;
  margin-left: 22.5px;
}

a.link{
  display: block;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  color: #1a66f7;
  text-decoration: none;
}

.link:hover{
  text-decoration: underline;
  color: #1442d9;
}
